#See the class of admin by using inspect
#header{
    height: 60px;
    background: #10284e;
    color: #fff;
}

#branding h1{
    color: #fff;
}

a:link,
a:visited {
    color: #10284e;
}

div.breadcrumbs {
    background: #C01212;
    color: #10284e;
}
div.breadcrumbs a {
    color: #333;
}


.module h2, .module caption, .inline-group h2 {
    background: #990000;    
    height: 25px;
}

.button, input[type = submit], input[type = button], .submit-row input, a.button {
    background: #003366;
    color: #fff;
} 